<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pegaworld Design Agenda</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#ffffff">
		<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	</head>
	<body>
		<div id="wrap">
			<header>
				<h1>PegaWORLD Design Track June 3-7 2018</h1>
			</header>
			<div class="agenda">
				<article class="day" id="sunday">
					<h2 class="day-header js-head-sunday">
						<a href="#" class="day-filter" data-day="sunday">Sunday 3rd June</a>
						<a href="#" class="day-filter-close icon icon--close">Close Sunday</a>
					</h2>
					<ul class="day-sessions">
						<li class="session session--travel">
							<h3>
								<time datetime="2018-06-03T12:00">12:00</time> Check-in &amp; Registration
								<p>
									Travel to PegaWorld - Registration @ <a href="https://www.google.co.uk/search?hotel_dates=2018-01-14%2C2018-01-15&rlla=0&tbm=lcl&ei=jGVTWvWOJevLgAbcq7r4Cw&q=marriott+orlando&oq=marriott+orlando&gs_l=psy-ab.3...0.0.0.39181.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.8kFGSK7bqqs#rlfi=hd:2018-01-14,2018-01-15;si:;mv:!1m3!1d146686.2668534686!2d-81.395594!3d28.4962645!2m3!1f0!2f0!3f0!3m2!1i382!2i502!4f13.1;tbs:lf_hd:-1,lrf:!3sIAE,lf:1,lf_ui:7" target="_blank" class="link--darker">Marriot Orlando</a>
								</p>
							</h3>
						</li>
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-03T13:00">1:00</time>-<time datetime="2018-06-03T13:30">1:30</time> Opening Remarks
								<p>
									Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--conf">
							<h3>
								<time datetime="2018-06-03T13:30">1:30</time>-<time datetime="2018-06-03T15:00">3:00</time> Strategic Applications and Competitive Intelligence
								<p>
									Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-03T15:00">3:00</time>-<time datetime="2018-06-03T15:30">3:30</time> Break
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-03T15:30">3:30</time>-<time datetime="2018-06-03T16:30">4:30</time> Customer Centricity &amp; Consulting
								<p>
									Customer Panel - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-03T16:30">4:30</time>-<time datetime="2018-06-03T17:15">5:15</time> Customer Centricity &amp; Consulting
								<p>
									Key Messages - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--conf">
							<h3>
								<time datetime="2018-06-03T17:15">5:15</time>-<time datetime="2018-06-03T17:45">5.45</time> Customer Experience
								<p>
									Don't Blow it! - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--travel">
							<h3>
								30 Mins Travel Buses from Marriot
								<p>
									Registration for PegaWorld
								</p>
							</h3>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-03T18:30">6:30</time> PegaWORLD
								<p>
									Reception &amp; Dinner
								</p>
							</h3>
						</li>
					</ul>
				</article>
				<article class="day" id="monday">
					<h2 class="day-header js-head-monday">
						<a href="#" class="day-filter" data-day="monday">Monday 4th June</a>
						<a href="#" class="day-filter-close icon icon--close">Close Monday</a>
					</h2>
					<ul class="day-sessions">
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-04T08:00">8:00</time> PegaWORLD
							</h3>
						</li>
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-04T18:00">6:00</time> Customer Appreciation Event - Universal Studios, Orlando
							</h3>
						</li>
					</ul>
				</article>
				<article class="day" id="tuesday">
					<h2 class="day-header js-head-tuesday">
						<a href="#" class="day-filter" data-day="tuesday">Tuesday 5th June</a>
						<a href="#" class="day-filter-close icon icon--close">Close Tuesday</a>
					</h2>
					<ul class="day-sessions">
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-05T08:00">8:00</time> PegaWORLD
							</h3>
						</li>
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-05T18:00">6:00</time> Design Track Event
								<p>
									Kayak Eco-Tour, Shingle Creek
								</p>
							</h3>
						</li>
					</ul>
				</article>
				<article class="day" id="wednesday">
					<h2 class="day-header js-head-wednesday">
						<a href="#" class="day-filter" data-day="wednesday">Wednesday 6th June</a>
						<a href="#" class="day-filter-close icon icon--close">Close Wednesday</a>
					</h2>
					<ul class="day-sessions">
						<li class="multi-container">
							<ul class="day-sessions multi-track track-head-container">
								<li class="track-head" data-track="1">
									<p>Track 1</p>
									<span class="arrow"></span>
							  	</li>
							</ul>
							<ul class="day-sessions multi-track track-head-container">
							  	<li class="track-head" data-track="2">
									<p>Track 2</p>
									<span class="arrow"></span>
							  </li>
							</ul>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-06T07:00">7:00</time>-<time datetime="2018-06-06T08:00">8:00</time> Breakfast
							</h3>
						</li>
						<li class="multi-container">
				  			<!-- Track 1 -->
							<ul class="day-sessions multi-track js-track-1">
							  	<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T08:15">8:15</time>-<time datetime="2018-06-06T08:45">8:45</time> Mobile
										<p>
											Overview - Crystal K
										</p>
									</h3>
								</li>
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T08:45">8:45</time>-<time datetime="2018-06-06T09:15">9:15</time> User Centered Design
										<p>
											Overview - Crystal K
										</p>
									</h3>
								</li>
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T09:15">9:15</time>-<time datetime="2018-06-06T10:35">10:35</time> User Centered Design
										<p>
											Implementations - Crystal K
										</p>
									</h3>
								</li>
								<li class="session session--break">
									<h3>
										<time datetime="2018-06-06T10:35">10:35</time>-<time datetime="2018-06-06T1050">10:50</time> Break
									</h3>
								</li>
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T10:50">10:50</time>-<time datetime="2018-06-06T12:20">12:20</time> User Centered Design
										<p>
											Nuts and Bolts - Crystal K
										</p>
									</h3>
								</li>
							</ul>
							<!-- Track 2 -->
							<ul class="day-sessions multi-track js-track-2">
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T08:15">8:15</time>-<time datetime="2018-06-06T08:45">8:45</time> User Centered Design
										<p>
											Overview - Crystal L
										</p>
									</h3>
								</li>
								<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T08:45">8:45</time>-<time datetime="2018-06-06T09:15">9:15</time> Mobile
										<p>
											Overview - Crystal L
										</p>
									</h3>
								</li>
								<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T09:15">9:15</time>-<time datetime="2018-06-06T10:45">10:45</time> Mobile
										<p>
											It's all about the User Experience - Crystal L
										</p>
									</h3>
								</li>
								<li class="session session--break">
									<h3>
										<time datetime="2018-06-06T10:45">10:45</time>-<time datetime="2018-06-06T11:00">11:00</time> Break
									</h3>
								</li>
								<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T11:00">11:00</time>-<time datetime="2018-06-06T12:20">12:20</time> Mobile
										<p>
											Publishing an App &amp; Offline Considerations - Crystal L
										</p>
									</h3>
								</li>
							</ul>
							<!-- End Separate Tracks -->
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-06T12:20">12:20</time>-<time datetime="2018-06-06T13:05">1:05</time> Lunch
							</h3>
						</li>
						<li class="multi-container">
							<!-- Track 1 -->
							<ul class="day-sessions multi-track js-track-1">
								<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T13:05">1:05</time>-<time datetime="2018-06-06T14:35">2:35</time> Mobile
										<p>
											It's all about the User Experience - Crystal K
										</p>
									</h3>
								</li>
								<li class="session session--mobile">
									<h3>
										<time datetime="2018-06-06T14:35">2:35</time>-<time datetime="2018-06-06T15:55">3:55</time> Mobile
										<p>
											Publishing an App &amp; Offline Considerations - Crystal K
										</p>
									</h3>
								</li>
							</ul>
							<!-- Track 2 -->
							<ul class="day-sessions multi-track js-track-2">
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T13:05">1:05</time>-<time datetime="2018-06-06T14:35">2:35</time> User Centered Design
										<p>
											Nuts and Bolts - Crystal L
										</p>
									</h3>
								</li>
								<li class="session session--user">
									<h3>
										<time datetime="2018-06-06T14:35">2:35</time>-<time datetime="2018-06-06T15:55">3:55</time> User Centered Design
										<p>
											Implementations - Crystal L
										</p>
									</h3>
								</li>
							</ul>
							<!-- End Separate Tracks -->
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-06T15:55">3:55</time>-<time datetime="2018-06-06T16:15">4:15</time> Break
							</h3>
						</li>
						<li class="session session--conf">
							<h3>
								<time datetime="2018-06-06T16:15">4:15</time>-<time datetime="2018-06-06T17:30">5:30</time> Upgrade Information
								<p>
									Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-06T17:30">5:30</time>-<time datetime="2018-06-06T18:30">6:30</time> Customer Centricity
								<p>
									Introduction/Q&amp;A - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-06T19:30">7:30</time> Design Track Event
								<p>
									Dinner – Marriott Orlando World Center
								</p>
							</h3>
						</li>
					</ul>
				</article>
				<article class="day" id="thursday">
					<h2 class="day-header js-head-thursday">
						<a href="#" class="day-filter" data-day="thursday">Thursday 7th June</a>
						<a href="#" class="day-filter-close icon icon--close">Close Thursday</a>
					</h2>
					<ul class="day-sessions">
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-07T07:00">7:00</time>-<time datetime="2018-06-07T08:00">8:00</time> Breakfast
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-07T08:15">8:15</time>-<time datetime="2018-06-07T10:15">10:15</time> Customer Centricity
								<p>
									Breakouts - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-07T10:15">10:15</time>-<time datetime="2018-06-07T10:45">10:45</time> Break
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-07T10:45">10:45</time>-<time datetime="2018-06-07T12:45">12:45</time> Customer Centricity
								<p>
									Breakouts - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--break">
							<h3>
								<time datetime="2018-06-07T12:45">12:45</time>-<time datetime="2018-06-07T13:45">1:45</time> Lunch
							</h3>
						</li>
						<li class="session session--cust">
							<h3>
								<time datetime="2018-06-07T13:45">1:45</time>-<time datetime="2018-06-07T14:30">2:30</time> Customer Centricity
								<p>
									Action Planning Debrief - Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--other">
							<h3>
								<time datetime="2018-06-07T14:30">2:30</time>-<time datetime="2018-06-07T14:45">2:45</time> Closing Remarks
								<p>
									Crystal J1
								</p>
							</h3>
						</li>
						<li class="session session--travel">
							<h3>
								<From time datetime="2018-06-07T15:00">3:00</time> travel from PegaWorld
								<p>
									Bus service to airport
								</p>
							</h3>
						</li>
					</ul>
				</article>
			</div>
			<div class="filter">
				<div class="filter-day_selector">
					<label for="js-day-selector">Day:</label>
					<select id="js-day-selector" class="js-day-selector">
						<option value="all">All</option>
						<option value="sunday">Sunday</option>
						<option value="monday">Monday</option>
						<option value="tuesday">Tuesday</option>
						<option value="wednesday">Wednesday</option>
						<option value="thursday">Thursday</option>
					</select>
				</div>
				<div class="filter-options">
					<a href="#" class="link--filter js-session-filter" data-session="conf">
						<span class="icon icon--conf">Conf</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="cust">
						<span class="icon icon--cust">Cust</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="mobile">
						<span class="icon icon--mobile">Mobile</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="user">
						<span class="icon icon--user">User</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="break">
						<span class="icon icon--break">User</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="travel">
						<span class="icon icon--travel">Travel</span>
					</a>
					<a href="#" class="link--filter js-session-filter" data-session="other">
						<span class="icon icon--other">Other</span>
					</a>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	</body>
</html>