.filter{
	background-color: #003051;
	bottom: 0;
	box-sizing: border-box;
	color: #ffffff;
	left: 0;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.filter-day_selector {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

@media ( --medium-screen ) {
	.filter-day_selector {
		display: inline-block;
		margin-bottom: 0;
		padding-top: 5px;
	}
}

.filter-options {
	display: block;
	text-align: center;
}

@media ( --medium-screen ) {
	.filter-options {
		display: inline-block;
		float: right;
	}
}

.link--filter {
	display: inline-block;
	vertical-align: top;
}

.icon {
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	margin: 0 5px;
	opacity: 0.5;
	text-indent: -9999px;
	width: 30px;
}

.icon--break {
	background-image: url( '/assets/gfx/icons/coffee.svg' );
}

.icon--conf {
	background-image: url( '/assets/gfx/icons/resource-blog.svg' );
}

.icon--mobile {
	background-image: url( '/assets/gfx/icons/product-mobile.svg' );
}

.icon--cust {
	background-image: url( '/assets/gfx/icons/star.svg' );
}

.icon--travel {
	background-image: url( '/assets/gfx/icons/aeroplane.svg' );
}

.icon--user {
	background-image: url( '/assets/gfx/icons/people.svg' );
}

.icon--other {
	background-image: url( '/assets/gfx/icons/help-circle.svg' );
}

.js-btn-filter--active span {
	opacity: 1;
	transition: opacity 1s;
}
