/* Baseline */
@import 'lib/reset.css';

/* Shared */
@import 'variables/media.css';
@import 'variables/brand.css';
@import 'variables/typography.css';

html, body {
	font-family: var( --font-text );
	font-size: var( --font-base-size );
}

a {
	color: var( --color-link );
	font-size: inherit;
}

h1, h2, h3, h4, h5, h6{
	color: var( --color-header );
}

h1{
	font-size: 1.6rem;
	opacity: 0.75;
	padding: 1rem;
}

h2, h2 a{
	font-size: 1.4rem;
}

h3{
	font-size: 1.3rem;
}

h4{
	font-size: 1.2rem;
}

h5{
	font-size: 1.1rem;
}

h6{
	font-size: 1rem;
}

@media ( --medium-screen ) {
	h1{
		font-size: 2rem;
	}
}

@media ( --large-screen ) {

	h1{
		font-size: 2.6rem;
		opacity: 0.75;
		padding: 1rem;
	}

	h2, h2 a{
		font-size: 1.6rem;
	}

	h3{
		font-size: 1.4rem;
	}

	h4{
		font-size: 1.2rem;
	}

	h5{
		font-size: 1.1rem;
	}

	h6{
		font-size: 1rem;
	}
}

h2 {
	display: inline-block;
	float: left;
	margin-top: 0;
	position: relative;
	top: 0;
	width: 100px;
}

ul {
	border: 1px solid #cccccc;
	display: flex;
	flex: auto;
	flex-direction: column;
	list-style: none;
	margin-left: 100px;
	margin-top: 0;
	padding: 0;
}

li {
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}

#wrap {
	border: 1px solid #cccccc;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-gap: 1rem;
	-ms-grid-rows: 30px auto 30px;
	grid-template-columns: 1fr;
	grid-template-rows: 30px auto 30px;
	height: 99vh;
	overflow: auto;
	position: relative;
}

#wrap header {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.fix-header {
	position: fixed;
}

.agenda {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-gap: 1rem;
	-ms-grid-row: 2;
	-ms-grid-rows: auto;
	grid-template-columns: 1fr;
	width: 100%;
}

@media ( min-width: 600px ) {
	.agenda {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: repeat( 2, 1fr );
	}

	h2 {
		float: initial;
		width: 100%;
	}

	ul {
		margin-left: 0;
	}

	.fix-header {
		position: relative;
	}
}

@media ( min-width: 768px ) {

	.agenda {
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr 2fr 1fr;
		grid-template-columns: repeat( 3, 1fr ) 2fr 1fr;
	}

	h2 {
		float: initial;
		width: 100%;
	}

	ul {
		margin-left: 0;
	}
}

.day {
	display: flex;
	flex-direction: column;
}

/* Day View - mobile */
.js-dayview .day {
	display: none;
}

/* IE Fix for column assignment */
#sunday {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

#monday {
	-ms-grid-column: 1;
	-ms-grid-row: 2;
}

#tuesday {
	-ms-grid-column: 1;
	-ms-grid-row: 3;
}

#wednesday {
	-ms-grid-column: 1;
	-ms-grid-row: 4;
}

#thursday {
	-ms-grid-column: 1;
	-ms-grid-row: 5;
}

@media ( min-width: 600px ) {
	#sunday {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
	}

	#monday {
		-ms-grid-column: 2;
		-ms-grid-row: 1;
	}

	#tuesday {
		-ms-grid-column: 1;
		-ms-grid-row: 2;
	}

	#wednesday {
		-ms-grid-column: 2;
		-ms-grid-row: 2;
	}

	#thursday {
		-ms-grid-column: 1;
		-ms-grid-row: 3;
	}
}

@media ( min-width: 768px ) {
	#sunday {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
	}

	#monday {
		-ms-grid-column: 2;
		-ms-grid-row: 1;
	}

	#tuesday {
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}

	#wednesday {
		-ms-grid-column: 4;
		-ms-grid-row: 1;
	}

	#thursday {
		-ms-grid-column: 5;
		-ms-grid-row: 1;
	}
}

.js-sunday #sunday,
.js-monday #monday,
.js-tuesday #tuesday,
.js-wednesday #wednesday,
.js-thursday #thursday {
	display: inline;
}

.js-dayview h2 {
	float: initial;
	width: 100%;
}

.js-dayview ul {
	margin-left: 0;
}

@media ( min-width: 600px ) {
	.day {
		-webkit-transform: initial;
		transform: initial;
		transition: transform 0.5s;
	}

	.js-dayview .day {
		display: initial;
		opacity: 0.25;
		z-index: -1;
	}

	.js-sunday #sunday,
	.js-monday #monday,
	.js-tuesday #tuesday,
	.js-wednesday #wednesday,
	.js-thursday #thursday {
		background-color: #ffffff;
		left: 50%;
		opacity: 1;
		position: absolute;
		-webkit-transform: translateX( -50% ) scale( 1.1 );
		transform: translateX( -50% ) scale( 1.1 );
		transition: all 0.5s;
		width: 80%;
		z-index: 1;
	}
}

/* Day View - desktop */
@media ( min-width: 768px ) {
	.js-dayview {
		grid-template-columns: repeat( 4, 1fr );
	}

	.js-sunday #sunday,
	.js-monday #monday,
	.js-tuesday #tuesday,
	.js-wednesday #wednesday,
	.js-thursday #thursday {
		width: 40%;
	}
}

.icon--close {
	float: right;
}

/* session filter */

.agenda > * {
	flex: 0 0 auto;
	margin-left: 10px;
}

.session {
	flex: auto;
	opacity: 1;
	transition: opacity 1s;
}

.js-filter-session-active .session {
	opacity: 0.2;
	transition: opacity 1s;
}

.session--other {
	background-color: #ffa500;
}

.session--conf {
	background-color: #ffff00;
}

.session--break {
	background-color: #008000;
}

.session--cust {
	background-color: #4b0082;
	color: #ffffff;
}

.session--travel {
	background-color: #ff0000;
}

.js-session-conf .session--conf,
.js-session-travel .session--travel {
	opacity: 1;
	transition: opacity 1s;
}

.btn {
	height: 20px;
	width: 150px;
}

/* Multi track */

.track-head {
	color: #ff0000;
	cursor: pointer;
}

.multi-track {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 50%;
}

.multi-track li {
	box-sizing: border-box;
	width: 100%;
}

.multi-container {
	display: flex;
	margin: 0;
	padding: 0;
}

.multi-container ul:first-child {
	border-right: 1px solid #cccccc;
}

.js-track-grow {
	transition: all 0.5s;
	width: 80%;
}

.js-track-shrink {
	border: 0;
	width: 0;
}

.js-track-shrink li {
	opacity: 0.1;
	overflow: hidden;
	transition: all 0.5s;
	white-space: nowrap;
}

.js-btn-track--active {
	background-color: #ffff00;
}
