:root {

	/* Base */
	--color-brand-1: #334d5c;
	--color-brand-2: rgba( 69, 123, 154, 1 );
	--color-brand-3: #efc94c;

	/* Typography */
	--color-header: #292f32;
	--color-body: #4d575a;
	--color-link: #0092f8;

	/* Sessions */
	--color-session-default: #000000;
	--color-session-default: #efc94c;
}
